* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

/* color and border*/

.pink {
    background-color: pink;
}

.dashed {
    border: 3px dashed black;
}

.dodgerblue {
    background-color: dodgerblue;
}

/* main nav */

.hNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.mainNav {
    font-size: 20px;
    padding: 5px 220px;
    background-color: goldenrod;
    margin: 15px 0px 15px;
}

#logo {
    padding-left: 5px;
    padding-right: 150px;
}

#login {
    padding-right: 5px;
    padding-left: 150px;
}

a {
    text-decoration: none;
    padding: 0 5px;
    color: black;
}

ul {
    list-style-type: none;
}

/* welcome and downloads */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

.download {
    margin: 50px 0px;
    width: 45%;
    height: 400px;
    background-color: violet;
    border-radius: 5px;
}

/* template rules */

.template {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.templateImg {
    margin: 50px 0px;
    width: 35%;
    height: 500px;
    border-radius: 5px;
}

.templateText {
    margin: 50px 0px;
    width: 25%;
    height: 500px;
    border-radius: 5px;
}

/* rTemplate rules */

#reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: lightgrey;
}

/* together rules */

.togetherSect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: lightgrey;
}

.together {
    height: 90%;
    width: 60%;
    background-color: forestgreen;
}

/* first footer rules */

.footer1 {
    background-color: #353942;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70%;
    border-bottom: 2px solid grey;
}

.semifooter1 {
    display: flex;
    height: 90%;
    width: 60%;
}

.contacts {
    background-color: lightcoral;
    height: 100%;
    width: 30%;
}

.qanda {
    display: flex;
    background-color: lightseagreen;
    width: 70%;
    height: 100%;
}

.col {
    width: 25%;
    border: 2px dashed white;
}

/* second footer */

.footer2 {
    background-color: #353942;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:15%;
}

.semifooter2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: aquamarine;
}

.fDiv {
    font-size: 20px;
    padding: 5px;
}