* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* header rules */

.hNav {
    display: flex;
}

ul {
    list-style-type: none;
}

/* invite rules */

/* find rules */

/* community rules */

/* together rules */

/* footer rules */